@mixin front-h4-common {
  font-size: 14px;
  line-height: 28px;
  height: 35px;
}
.region-sidebar-first,.region-sidebar-second {
  h4 {
    @include front-h4-common
    background: #5c98d8;
    color: white;
    border-radius: 10px 10px 0 0;
    padding-top: 5px;
    padding-left: 10px;
    margin-bottom: 0;
    &:before {
      content: url(../images/baikuai.jpg);
      margin-right: 10px;
    }
  }
}
.region-content {
  h4 {
    @include front-h4-common
    color: #5c98d8;
    border-bottom: 5px solid #5c98d8;
    &:before {
      content: url(../images/lankuai.jpg);
      margin-right: 10px;
    }
  }
}
.front-block {
  border: 1px #F3F3F3 solid;
  padding: 0 10px;
  line-height: 2em;
  ul {
    list-style-image: url(../images/huiquanquan.png);
  }
  li {
    height: 30px;
    line-height: 30px;
    padding-bottom: 0px;
    border-bottom: 1px dotted #ddd;
  }
  li:last-child {
    border: none;
  }
  a {
    color: #444;
  }
  .text {
    text-indent: 2em;
  }
}
[role=main] {
  width: 90% !important;
}
.views_slideshow_cycle_slide {
  .views-field-field-news-image {
    img {
      height: 300px;
      width: 100%;
    }
  }
  .views-field-title {
    position: absolute;
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,0.5);
    color: white;
    margin-top: -30px;
    line-height: 30px;
    padding-left: 2em;
  }
}
div#block-views-block-shouye-yanjiujinzhan-block-1 + div {
  display: none;
}
.front-news-row {
  display: flex;
  justify-content: space-between;
  height: 30px;
  line-height: 30px;
  padding-bottom: 0px;
  border-bottom: 1px dotted #ddd;
  .views-field-title:before {
    content: url(../images/huiquanquan.png);
  }
  .views-field-created {
    color: #999;
  }

}
