$breakpoint: 900px;
$head-bg-color: #146eb8;
@media all and (min-width: $breakpoint) {
  body {
    width: 100%;
    margin: 0;
    font-size: 12px;
    font-family: Arial,"宋体"
  }
  // footer copyright
  footer.footer {
    border-top: 3px #ddd solid;
    background: white;
    color: #999;
    padding-top: 20px;
  }
  div.copyright {
    display: flex;
    justify-content: space-evenly;
    img {
      height: 45px;
    }
  }
  // block-search
  .row[role=searching] {
    height: 35px;
    .menu.nav {
      display: flex;
      margin-right: 30px;
    }
    .nav a {
      color: white;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .region-search {
    display: flex;
    justify-content: space-between;
    background-color: $head-bg-color;
    height: 100%;
  }
  div.search-block-form {
    width: 200px;
    margin-left: 30px;
  }

  // block-banner
  [role=banner] {
    width: 100%;
    height: 180px;
    margin: 0;
    img {
      width: 100%;
    }
  }
  // block-mainmenu
  [role=mainmenu] {
    width: 100%;
    max-width: none !important;
    background-color: $head-bg-color;
    border: none;
    border-radius: 0;

    }
  .navbar-default .navbar-nav > li > a {
      color: white;
  }
}
.content {
  font-size: 10.5pt;
  text-indent: 2em;
  line-height: 2em;
}
h3.page-header {
  text-align: center;
}
